
<div class="user-blog-card">

  <div class="blog-card">

    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Date: {{dateCreated}}</p>

  
    <button id="delete-blog">Delete</button>

  </div>

</div>

<script src="/js/delete.js"></script>