<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech-Space</title>
</head>

<header>
    <nav class="navbar">
        <a href="/">Homepage</a>
        <a href="/login">Login</a>
        <a href="/" id="logout">Logout</a>
        <a href="/dashboard">Dashboard</a>
    </nav>
</header>

<body>

    <h1 class="title">TECH - SPACE</h1>

    <main>
        {{{body}}}
    </main>

    <footer class="footer">
        This is your Space to talk about Tech!
    </footer>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>