<h1>Blogs</h1>

<div>

    {{#if blogs.length}}

    {{#each blogs as |blog|}}
    {{> user-dashboard blog}}
    {{/each}}

    {{/if}}

</div>

<button type="submit" class="btn new-blog">Add a new Blog!</button>


{{!-- <script src="/"></script> --}}