<div class="new-blog-section">
    <div class="new-blog">

        <form>

            <label for="title">Title:</label>
            <input type="text" name="blog-title" placeholder="New Blog Title">
             
            <label for="title">Content:</label>
            <textarea id="comment" name="comment" placeholder="This Blog is awesome!"></textarea>
            <input type="submit" value="New Blog!">

        </form>

    </div>
</div>