
<h2>Add a New Blog!</h2>

<div class="new-blog-section">
    <div class="new-blog">

        <form id="new-blog-input">

            <label for="title">Title:</label>
            <input type="text" name="blog-title" placeholder="New Blog Title">
             
            <label for="content">Content:</label>
            <textarea id="comment" name="content" placeholder="This Blog is awesome!"></textarea>
            <input type="submit" value="New Blog!">

        </form>

    </div>
</div>